numpy
pandas
einops
sentencepiece
deepspeed==0.9.3
transformers==4.36.2
accelerate==0.21.0
peft==0.4.0
BitsAndBytes==0.40.2
xformers==0.0.21
scikit-learn==1.3.2
flash-attn==2.3.6
ujson
jsonlines
tiktoken
transformers_stream_generator
datasets
evaluate
